.heroUnit
  wrapped()
  height 100vh
  text-align center
  align-items center
  background url('/img/bgHero.png') center no-repeat
  background-size cover
  justify-content center
  display flex
  
  h1
  	text-transform uppercase 
  	color $white
  	
  h2
  	font-weight 400 
  	color $orange  	